body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}
th, td {
    padding: 10px;
    text-align: left;
}
tr {
    border-top: 1px solid black;
}

tr:first-child {
    border-top: none;

    border-bottom:  1px solid black;
}


.addbutton{
    margin-left: 90%;
}
.add {
    
    background-color: #4da6ff; /* Light blue */
    color: white; /* White text */
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    max-height: 37px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add:hover {
    background-color: #1a8cff; /* Darker blue on hover */
}

a {
    text-decoration: none;
    color: #0052aa;
    margin: 0 5px;
}

a:hover {
    text-decoration: underline;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], textarea, input[type="file"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #007BFF;
}

.NavButton{
    margin-top: 20%;
    font-size: 25px;
}
